.participant-container {
    width: 80%;
    margin: 0px auto;
    background-color: #ff00004a;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    max-width: 600px;
    margin: 10px auto;
}

.participant-container div {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0px 10px;
    align-items: flex-start;
    width: 100%;
    position: relative;
}

.participant-container #first-input {
    margin-left: 0px;
}

.participant-container #input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.participant-container label {
    position: absolute;
    top: 9px;
    left: 10px;
    font-size: 15px;
    color: #535353;
    transition: .5s;
    pointer-events: none;
}
.participant-container input:focus + label {
    position: absolute;
    top: -16px;
    left: 9px;
    font-size: 13px;
    color: #000000;
    transition: .5s;
}

.participant-container input:valid + label {
    position: absolute;
    top: -16px;
    left: 9px;
    font-size: 13px;
    color: #000000;
    transition: .5s;
}

.participant-container input {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 0px 0px 0px 10px;
    font-size: 18px;
}


.participant-container input:focus {
    outline: none;
    border: blue 1px solid;
}

.participant-container input:invalid {
    color: red;
    border-color: red;
}

.participant-container span {
    font-size: 14px;
    margin-left: 10px;
}

.participant-container button {
    align-self: flex-start;
    margin-left: 30px;
}

.add-participant-btn {
    font-size: 19px;
    background-color: green;
    border: 1px solid green;
    width: 250px;
    margin: 20px;
}

.add-participant-btn:hover {
    background-color: rgb(0, 105, 0);
    border: 1px solid rgb(0, 105, 0)
}

.add-participant-btn.proceed-to-review {
    background-color: red;
    border-color: red;
}

#errors {
    width: 80%;
    margin: 10px auto;
    max-width: 600px;
}

#errors li {
    text-align: initial;
    color: red;
    font-weight: 800;
}

@media(max-width: 680px) {
    .participant-container label {
        font-size: 12px;
        top: 11px;
    }
}
@media(max-width: 560px) {
    .participant-container label {
        font-size: 10px;
        top: 12px;
    }
    .participant-container span {
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
}
}
@media(max-width: 600px) {
    .participant-container input:focus + label {
        font-size: 10px;
    }

    .participant-container input:valid + label {
        font-size: 10px;
    }
}

@media(max-width: 400px) {
    .participant-container input:focus + label {
        font-size: 7px;
        top: -12px;
    }

    .participant-container input:valid + label {
        font-size: 7px;
        top: -12px;
    }

    .participant-container label {
        font-size: 7px;
        top: 14px;
    }
}