.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 45px;
  color: #dd0f0f;
}

h2 {

}

h3 {
  margin: 0px 20px 10px;
  align-self: flex-start;
}

button {
  padding: 10px 10px;
  font-size: 14px;
  color: white;
  background-color: red;
  border: 1px solid red;
  border-radius: 4px;
  font-weight: 800;
  cursor: pointer;
  transition: .5s;
}

button:hover {
  background-color: rgb(224, 0, 0);
  border: 1px solid rgb(224, 0, 0);
}
